body{
width:100%;
height:100%;
background-color: grey;
object-fit: contain;
place-content : center;
}
input{
width:150px;
object-position: center;
place-content : center;
vertical-align: middle;
}
button{
    left: 80%;
width:80px;

}

.resume-template{
    object-position: center;
    place-content : center;
    vertical-align: middle;
box-shadow: 10px 10px 50px 50px grey ;
top:20%;
width: 600px;
height: 1020px;
background-color: white;
border: 2px solid white;
margin: 0px auto;

}
header{
background-color: aquamarine;
height:100px;
}
.basics{
    top:25%;

font-weight: bolder;
color: black;

}

.side-box{
    
    display:block;
    position: absolute;
    box-shadow: 10px 10px 50px 50px none;
margin-top:25%;
width: 160px;
height: 550px;
background: rgb(250, 212, 218);
border: 2px rgb(250, 212, 218);
margin: 2px;
}

.personal-info .technical-info  .hobbies-info {
    
    text-align: right;
    margin-right:1px;
    position: relative;
    display: inline-block;
    font-size:xx-small;
    
  }

  img{
 
    width:20%;
    height:20%;
    margin-top:-30px;
    float:right;

  }
  .right-section {
    width: 60%;
    height: 100%;
    float: right;
    /*padding: 20px;*/
    text-align: left;
    margin-left: 50px;
    margin-top: 0px;
  }
  .work-info, .project-info, .education-info, .intern-info, .achievement-info  {
    width: 100%;
    text-align: left;
    margin-left: 50px; 
    position: relative;
    display: inline-block;
    font-size: x-small;
  }